{
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "./"]
      }
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "prettier/prettier": ["error"],
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}
